/* remove default browser spacing */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* remove body gap */
html, body{
  width:100%;
  overflow-x:hidden;
}

/* remove image bottom gap */
img{
  display:block;
  max-width:100%;
}

/* remove extra space between sections */
section{
  margin:0;
}

/* optional smoother scroll */
html{
  scroll-behavior:smooth;
}
:root {
  /* Light Theme Colors */
  --bg-light: #fdfbf8;
  --text-dark: #1a1a1a;
  
  /* Dark Theme Colors */
  --bg-dark: #0c0c0c;
  --text-light: #f5f5f5;
  
  /* Common Accent */
  --accent-gold: #b3945a;
  --easing: cubic-bezier(0.83, 0, 0.17, 1);
}